/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */

input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #59478B;
}

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* common styling starts here */

body {
  font-family: sans-serif;
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

.txt-line {
  margin-left: 8px;
  color: #000;
  font-size: 13px;
  text-decoration: line-through;
}

/*for wrapper*/
.wrapper {
  width: 80.80%;
  max-width: 1000px;
  margin: 0px auto;
}

/* common styling ends here */

/*=================================
  sales-countdown-section styling starts here
=================================*/

.sales-countdown-section {
  padding: 40px 0;
}

.sales-countdown-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-heading {
  color: #59478B;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.sale-countdown-lists {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale-countdown-lists li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale-countdown-lists li:not(:last-child) {
  margin-right: 10%;
}

.sale-countdown-lists li span:first-child {
  font-size: 45px;
}

.sale-countdown-lists li span:last-child {
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 18px;
}

.sale-countdown-lists li span {
  color: #59478B;
  text-align: center;
}

.filter-container {
  /* display: flex;
  flex-direction: column; */
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 0;
}

.def-btn,
.low-btn,
.high-btn {
  padding: 8px 25px;
  border-radius: 18px;
  border: 2px solid #FF8A73;
  color: #FF8A73;
  font-size: 13px;
}

.active-sort {
  padding: 8px 25px;
  border-radius: 18px;
  background-color: #FF8A73;
  color: #fff;
  font-size: 13px;
}

.sorting-list li:not(:last-child) {
  margin-right: 10px;
}

.image-filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.image-list li {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

.image-list li:not(:last-child) {
  margin-right: 15px;
}

.image-list li:nth-child(4n) {
  margin-right: 0;
}

.image-list li:nth-child(n+5) {
  margin-top: 20px;
}

.image-list li figure,
.image-list li figure img {
  border-radius: 8px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.filter {
  width: 35%;
}

.image-list figcaption {
  margin-top: 10px;
  font-weight: 600;
}

.offer-product {
  position: relative;
}

.offer-percent {
  padding: 4px 8px;
  border-radius: 13px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  background-color: #fff;
  color: #383636;
}

.filter {
  margin-right: 15px;
}

.filter h2 {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

.filter-category-list {
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-category-list li {
  margin-bottom: 12px;
}

.filter-category-list li a {
  font-size: 13px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.actie-category-link {
  font-weight: 600;
}

.range-labels {
  border: 2px solid #FF8A73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-slider,
.end-slider {
  padding: 8px 20px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #383636;
  font-size: 14px;
  text-align: center;
}

.start-slider {
  border-right: 2px solid #FF8A73;
}

.input-grp {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-grp input[type=range] {
  margin: 0;
  height: 2px;
  background-color: #FF8A73;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.input-grp input[type=range]::-webkit-slider-thumb {
  width: 15%;
  height: 20px;
  border-radius: 50%;
  background-color: #FF8A73;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
}

.filter-btns {
  margin-top: 10px;
}

.filter-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-btns input[type=button] {
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  color: #fff;
}

.filter-btn {
  margin-right: 10px;
  background-color: #FF8A73;
}

.showall-btn {
  background-color: #5580FF;
}

.image-list figcaption { 
  margin-top: 10px; 
  font-weight: 600;
}

.offer-product {
  position: relative;
}

.offer-percent {
  padding: 4px 8px;
  border-radius: 13px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  background-color: #fff;
  color: #383636;
}

.filter { margin-right: 15px; }

.filter h2{
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

.filter-category-list {
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-category-list li {
  margin-bottom: 12px;
}

.filter-category-list li a { font-size: 13px; }

.actie-link {
  font-weight: 700;
}

.range-labels {
  border: 2px solid #FF8A73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-slider,
.end-slider {
  padding: 8px 20px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #383636;
  font-size: 14px;
  text-align: center;
}

.start-slider { border-right: 2px solid #FF8A73;}

.input-grp {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-grp input[type=range] {
  margin: 0;
  height: 2px;
  background-color: #FF8A73;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.input-grp input[type=range]::-webkit-slider-thumb {
  width: 15%;
  height: 20px;
  border-radius: 50%;
  background-color: #FF8A73;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
}

.filter-btns {
  margin-top: 10px;
}

.filter-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-btns input[type=button] {
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  color: #fff;
}

.filter-btn {
  margin-right: 10px;
  background-color: #FF8A73;
}

.showall-btn {
  background-color: #5580FF;
}

/*=================================
  sales-countdown-section styling starts here
=================================*/

/*=================================
hover effects for 995 starts 
=================================*/

@media only screen and (min-width: 995px) {
  .sorting-list > li > a:hover {
    border-color: #ff8a73;
    background-color: #ff8a73;
    color: #fff;
  }
}

.filter-category-list > li > a:hover {
  font-weight: 600;
}

/*=================================
hover effects for 995 starts 
=================================*/